{% extends 'base.html' %}

{% block pageTitle%}
    <div class="d-flex align-items-center justify-content-between">
        <h1>Active Polls</h1>
        {% if request.user.is_authenticated %}
            <div>
                <p class="m-0">Hello, {{request.user}}</p>
                <a href="{% url 'logout' %}">Log Out</a>
            </div>
        {% endif %}
    </div>
    
{% endblock%}
    

{% block bodyContent %}
    {% if latest_question_list %}
        {% for question in latest_question_list %}
            <a href="{% url 'detail' question.id %}" class="text-decoration-none">{{ question.question_text }}</a>
            <a href="{% url 'results' question.id %}" class="btn btn-sm btn-info float-right">Result</a>
            <hr>
        {% endfor %}
    {% else %}
        <p>No polls are available</p>
    {% endif %}
{% endblock %}
