<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Polls || User Login</title>
</head>
<body>
    <h1>Sign In</h1>
    <label>{{ error }}</label>
    <form method="POST" action="{% url 'login' %}">
        {%csrf_token%}
        <table>
            <tr>
                <td><label for="email">Email</label></td>
                <td><input type="email" name="email" id="email" required></td>
                <td><label id="email_error"></label></td>
            </tr>
            <tr>
                <td><label for="password">Password</label></td>
                <td><input type="password" name="password" id="password" required></td>
                <td><label id="password_error"></label></td>
            </tr>
            <tr>
                <td colspan="3"><input type="submit" value="Sign in"></td>
            </tr>
        </table>
    </form>
    <label>Don't have an Account? <a href="{% url 'register' %}">Register</a></label>
</body>
</html>